.intro
	margin 0 auto
	background-color $dark-blue

	&__hed
		max-width 80rem
		text-align left
		
	&__dek
		max-width $column-width
		margin-top 1rem
		text-align left
	
	&__byline
		max-width $column-width
		margin-top 1rem
		text-align left
	
	&__time
		display block
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align center
